[credential "https://github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
[user]
	email = gohilvishal7600@gmail.com
	name = Gohil Vishalbhai
	signingkey = 83A98EEB7FBA26697605C4CDBCBD0C248906A90A
[commit]
	gpgsign = true
